*.o
*.dll
*.so
*.so.*
*.dylib

*node_modules*

*__pycache__
*perf.data*

perft_runner
test_runner
lueder-computer
build/
alphazero/data/
alphazero/models/
alphazero/runs/
alphazero/bin/
alphazero/chess_games/**
